#bground {
  background-image: url("Fhome.jpg");
  background-size: cover;
  height: 500px;
}

#bground2 {
  background-image: url("Fmenu.jpg");
  background-size: cover;
  height: 500px;
}

h1 {
  color: #b89d66;s
  text-align: center;
  font-family: 'Cherry Swash', cursive;
  text-shadow: 2px 2px 8px #000000
}

h2 {
  color: #513726;s
  text-align: center;
  font-family: "Cabin"cursive;
   text-shadow: 3px 3px 4px #777
}

div.just {
  text-align: justify;
}


#Welcome {
  text-align: center;
  padding: 30px;
  background: #513726;
}

#botton {
  background-image: url("funfo.jpg");
  background-size: cover;
  height: 5px;
}

#price1 {
  text-align: center;
  width: 300px;
  padding: 130px;
}

#price2 {
  text-align: right;
  width: 300px;
  padding: 90px;
}

div.ex2 {
  width: 300px;
  padding: 50px;
  box-sizing: border-box;
}
